.register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register--dark {
    background: url("../../public/images/black-acrylic-texture-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register--white {
    background: url("../../public/images/ftuy4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register__container {
    justify-content: center;
    border: 3px solid rgb(31, 168, 173);
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    background: white;
}

.register__title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.register__form {
    border-bottom: 1px solid #c5c5c5;
}
.register__btn {
    display: flex;
    margin-top: 30px;
}
.register__btn button {
    width: 100%;
}




